<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/question.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>BioQuiz - questions</title>
</head>


<body>  
    <div class="result">

    </div>
    
    <div id="menubar">
        <a id="logo" href="/">
            <img height="60" src="../static/media/logo1.svg" alt="">
        </a>
        <div id="loginbtn">
            <button onclick="window.location.href='/'">Home</button>
        </div>
      </div>

    <div class="container">
        <div id="question">
            <!-- IMAGES -->
            <div class="title">
                <h2>{{qa.question.Quiz_name}} : </h2>
            </div>
            <br>
            <div class="images">
                {%for img  in qa.images%}
                <img height="200" src="../{{img}}"/>
                {%endfor%}
            </div>
            <br>
            <!-- QUESTION -->
            <div class="question">
                <h3>{{qa.question.question}}</h3>
            </div>

            <!-- ANSWERS -->
            <div class="answers">
                {%for answer in qa.answers%}
                    <br>
                    {%if user.id %}
                        <button onclick="check_correct('{{answer.answer}}',{{qa.question.id}},'{{qa.images|first}}','{{qa.question.category}}')">{{answer.answer}}</button>
                    {%else%}
                        <button onclick="alert('you are not connected')">{{answer.answer}}</button>
                    {%endif%}
                {%endfor%}
            </div>
            
        </div>
    </div>
<div id="counter">
    {{q_id}}/{{length}}
</div>

</body>
<script>
    function template(sign,answer,correct,color){
        return   `<div id="popup">
                <div class="container">
                    <div style="dont-width:bold;text-align:center;color:`+color+`" class="correct">
                        `+correct+`
                    </div>
                    <h3 class="points">
                        `+sign+`{{qa.question.point}}
                    </h3>
                    <h6>The answer :  `+answer.answer+`</h6>
                    <p class="description">
                        `+answer.definition+`
                    </p>
                    <div class="buttons">
                        <a class="infos" target="_blank" href="/images?images={{qa.images}}">
                                More infos
                        </a>
                        
                                {%if q_id == length%}
                                <button onclick="location.href='/'" class="next">Home</button>
                                    
                                {%else%}
                                <button class="next" onclick="location.href='./?category={{qa.question.category}}&q_id={{q_id|add:"+1"}}'">Next</button>
                                {%endif%}
                        </button>
                    </div>
                </div>
            </div>`;
    }
     function check_correct(answer,question,img,category){

        $.ajax({url: "/answer?category="+category+"&img="+img+"&question="+question+"&answer="+answer, success: function(result){
            let sign,description,correct;

            if(result.val){
                $('.result').html(template('+',result.answer,'Correct',"green"))
                console.log(result.answer)
            }
            else{
                $('.result').html(template('-',result.answer,'Incorrect',"red"))
            }

            console.log(result)
        }});
     }
</script>

</html>